.start-card {
    padding-top: 40px;
    margin: 0 auto;
    width: 80%;
    outline: none;
  }

.option {
    background-color: #79b2da;
    text-decoration-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    font-size: 10px;
    cursor: pointer;
  }

  #startQuizBtn {
    background-color: #79b2da;
    text-decoration-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    font-size: 10px;
    cursor: pointer;
  }

  .btn {
    background-color: #79b2da;
    text-decoration-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    font-size: 10px;
    cursor: pointer;
  }

input {
    background: none;
    color: rgb(140, 140, 140);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 50%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgrey;  
  }
  
  input:focus {
    outline: none;
  }

.navbar-brand {
    font-size: 12px
  }

  .hide {
      display: none;
  }